  .custom-select-wrapper label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  .custom-select-mult.Nofocused  .css-13cymwt-control {
    height: 38px !important;
    overflow: auto;
  }
  .custom-select-mult.Nofocused  .css-13cymwt-control .css-3w2yfm-ValueContainer{
    padding-top: 4px;

  }
  .custom-select-mult.Nofocused  .css-13cymwt-control .css-1hb7zxy-IndicatorsContainer{
    height: 38px !important;
  }
  #react-select-2-listbox div div{
    font-size: 0.7em !important;
    border-bottom: 1px solid #B0A8B9;
  }
  #react-select-2-listbox div div:last-child{
    border: none;
  }
  #react-select-3-listbox div div{
    font-size: 0.7em !important;
    border-bottom: 1px solid #B0A8B9;
  }
  #react-select-3-listbox div div:last-child{
    border: none;
  }